#
# (c) 2016 biocoder developers
#
# This file is part of biocoder,
# released under Apache License Version 2.0 (http://www.apache.org/licenses/LICENCE).
#
# ====
#
# Template of envfile for docker-compose
#

MYSQL_DATABASE=biocoder_production
MYSQL_USER=biocoder
MYSQL_PASSWORD=biocoder
MYSQL_RANDOM_ROOT_PASSWORD=true
